language: cpp

compiler:
  - clang
  - gcc

before_script:
  - "sudo apt-get install libboost-thread-dev libboost-system-dev libboost-regex-dev libboost-date-time-dev libboost-test-dev google-mock"
  - "cd /usr/src/gtest && sudo cmake . && sudo cmake --build . && sudo mv libg* /usr/local/lib/ ; cd -"

script: "cmake -E make_directory build && cmake -E chdir build cmake -DCUKE_ENABLE_EXAMPLES=on .. && cmake --build build && cmake --build build --target test && cmake --build build --target features"
