language: cpp
sudo: required
dist: trusty
compiler:
  - clang
  - gcc
env:
  matrix:
    - GMOCK_VER=1.7.0 
    - GMOCK_PATH=/usr/src/gmock #1.6.0 from ubuntu trusty repo

addons:
  apt:
    packages:
      - libboost-thread-dev 
      - libboost-system-dev
      - libboost-regex-dev
      - libboost-date-time-dev 
      - libboost-test-dev
      - google-mock

script: ./travis.sh 

notifications:
  email:
    - cukes-devs@googlegroups.com
